name: Jest
on:
    push:
    pull_request:
jobs:
    test:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v2
            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: "24"

            - name: Install dependencies
              run: npm install

            - name: Run tests
              run: npm test
